#bot-table {
    width: 100%;
    border-collapse: collapse;
}

#bot-table th,
#bot-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#bot-table th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

#bot-table tr:nth-child(even) {
    background-color: #f2f2f2
}

#bot-table tbody tr:hover {
    background-color: #ddd;
}